In [1]:
import numpy as np
import pandas as pd

In [2]:
N_exp = 10000
N_con = 10000

In [3]:
click_exp = pd.Series(np.random.binomial(1, 0.4, size = N_exp))
click_con = pd.Series(np.random.binomial(1, 0.3, size = N_con))

In [4]:
exp_id = pd.Series(np.repeat("exp", N_exp))
con_id = pd.Series(np.repeat("con", N_con))

In [5]:
df_exp = pd.concat([click_exp, exp_id], axis = 1)
df_con = pd.concat([click_con, con_id], axis = 1)

In [6]:
df_exp.columns = ["click", "group"]
df_con.columns = ["click", "group"]

In [7]:
df_ab_test = pd.concat([df_exp, df_con], axis = 0).reset_index(drop = True)

In [8]:
df_ab_test

       click group
0          1   exp
1          0   exp
2          0   exp
3          1   exp
4          1   exp
...      ...   ...
19995      0   con
19996      0   con
19997      0   con
19998      0   con
19999      0   con

[20000 rows x 2 columns]

In [9]:
X_con = df_ab_test.groupby("group")["click"].sum().loc["con"]
X_exp = df_ab_test.groupby("group")["click"].sum().loc["exp"]

In [10]:
X_con

2954

In [11]:
df_ab_test.groupby("group")["click"].sum()

group
con    2954
exp    3931
Name: click, dtype: int32

In [12]:
X_exp

3931

In [13]:
print("Number of clicks of control group :", X_con)
print("Number of clicks of experimental group :", X_exp)

Number of clicks of control group : 2954
Number of clicks of experimental group : 3931

In [14]:
p_con_hat = X_con/N_con
p_exp_hat = X_exp/N_exp

In [15]:
print("Click probality in control group: ", p_con_hat)
print("Click probality in experimental group: ",p_exp_hat)

Click probality in control group:  0.2954
Click probality in experimental group:  0.3931

In [16]:
p_pooled_hat = (X_con + X_exp) / (N_con + N_exp)

In [17]:
p_pooled_hat

0.34425

In [18]:
pooles_variance = p_pooled_hat * (1 - p_pooled_hat) * (1/N_con + 1/N_exp)

In [19]:
pooles_variance

4.5148387500000005e-05

In [20]:
SE = np.sqrt(pooles_variance)
print("Satndard Error :", SE)

Satndard Error : 0.006719254981022822

In [21]:
Test_stat = (p_con_hat - p_exp_hat) / SE
print("T Statistics for 2 sampled z-test :", Test_stat)

T Statistics for 2 sampled z-test : -14.54030250019294

In [22]:
alpha = 0.05
print("Alpha: Signaficance level is :", alpha)

Alpha: Signaficance level is : 0.05

In [23]:
from scipy.stats import norm

In [24]:
z_crit = norm.ppf(1-alpha/2)
print("Z-critical value from statndard normal distribution :",z_crit)

Z-critical value from statndard normal distribution : 1.959963984540054

In [25]:
P_value = 2 * norm.sf(abs(Test_stat))
print("P_value of the 2-sample t-test :", round(P_value, 3))

P_value of the 2-sample t-test : 0.0

In [61]:
df_ab_test["click"].value_counts()

click
0    13115
1     6885
Name: count, dtype: int64

In [63]:
df_ab_test.groupby("group").sum()

       click
group
con     2954
exp     3931

In [65]:
df_ab_test["group"].value_counts()

group
exp    10000
con    10000
Name: count, dtype: int64